body
 {background-image: url(1.jpg);
    margin: 0px;
    padding: 0;
    background-blend-mode:darken;

}

.menu{
    background-color: rgb(19, 167, 231);
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px 10px;
}

nav a{
text-decoration: none;
color: rgb(54, 57, 58);
padding: 10px 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
display: inline-block;
}

nav a:hover{
    color: chartreuse;
    background-color: rgb(72, 78, 88);
    border-bottom: 1px solid chartreuse;
    padding: 8px 20px;
    border: 2px solid rgb(54, 57, 58);
    border-radius: 5px;
    display: inline-block;
}

nav a{
    transition: all 0.3s ease;
}

.heading-container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 0%;


}

.heading-text {
    padding: 30px;
    border-radius: 10px;
      background-color: aquamarine;
    max-width: 90%;
    backdrop-filter:blur ;
    border: 1px solid black;
}

.background-image-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}


.text-box {
    background-color: rgb(0, 170, 255);

    padding: 20px;
    border-radius: 15px;
    max-width: 60%;
    backdrop-filter: blur(8px);
    border: 1px solid black;
}
.background-info{
    background-color: aquamarine;
    color: rgb(1, 9, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.more {
    background-color: rgb(84, 141, 221);
    color: rgb(1, 20, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid white;
    margin-left: 50px;
    margin-right: 50px;

}

.form{
    align-items: center;
    background-color: rgb(84, 141, 221);
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    border: 3px solid white;
    margin-left: 100px;

}